.button {
  border: 2px solid var(--colorBlack);
  border-radius: 90px;
  color: var(--colorBlack);
  font: var(--button);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-inline: 24px;
  padding-block: 13px;
}

.button-primary {
  background: var(--colorTurquoise);
}

.button-secondary {
  background: unset;
}

.button-secondary img {
  vertical-align: top;
}

.button-icon {
  border: 2px solid var(--colorBlack);
  border-radius: 4px;
  background: var(--colorTurquoise);
  padding: 13px;
  text-decoration: none;
}

.button-icon img {
  vertical-align: middle;
}
