.footer {
  display: flex;
  flex-direction: column;
}

.footer .social {
  justify-content: center;
}

.footer__content {
  margin-block: 24px;
}

.footer__content p {
  text-align: center;
}

.footer__content img {
  vertical-align: middle;
}
