.footer {
  display: flex;
  flex-direction: column;
}

.footer .social {
  justify-content: center;
}

.footer__logo img {
  display: none;
}

.footer__content {
  margin-block: 24px;
}

.footer__content p {
  text-align: center;
}

.footer__content img {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .social {
    order: 2;
  }

  .footer__logo img {
    display: block;
  }

  .footer__copyright {
    display: flex;
    gap: 8px;
  }
}
