.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 81px;
}

@media screen and (min-width: 768px) {
  .header__content {
    padding-block-start: 16px;
  }

  .curriculum::before {
    content: "descargar ";
  }
}
