.hero {
  margin-block-start: 18px;
  display: flex;
  flex-direction: column;
}

.hero h3 {
  font: var(--headline3);
}

.hero h2 {
  font: var(--headline2);
}

.hero__image {
  max-block-size: 327px;
  margin: auto;
}

.hero__description {
  display: flex;
  flex-direction: column;
}

.hero__description p {
  margin-block-start: 16px;
}

.social {
  display: flex;
  margin-block-start: 16px;
  padding-block-end: 24px;
  gap: 16px;
}

.personal__message {
  margin-block-start: 40px;
  padding-block-start: 40px;
  text-align: center;
}

.personal__message p {
  font-size: 24px;
  line-height: 38px;
}

.personal__message h5 {
  margin-block-start: 24px;
  font: var(--headline5);
}

.personal-message__arrow {
  margin-block-start: 24px;
  margin-block-end: 57px;
}

.personal-message__arrow img {
  block-size: 80px;
}

@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
    gap: 57px;
  }

  .hero__description {
    order: 1;
    max-inline-size: 450px;
  }

  .hero__image {
    order: 2;
  }
}

@media screen and (min-width: 812px) {
  .personal__message {
    padding-inline: 233px;
    padding-block-start: 0;
    margin-block-start: 200px;
  }

  .hero__image {
    order: 2;
    max-block-size: 604px;
  }
}
