.project {
  margin-block: 40px;
}

.project__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-inline-size: 450px;
}

.project__image {
  text-align: center;
  margin-block-end: 40px;
}

.project__image img {
  max-inline-size: 100%;
}

.project__code {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    gap: 24px;
    padding-block: 80px;
  }

  .project__description,
  .project__image {
    flex: 1;
  }

  .project:nth-child(4n + 1) .project__image {
    order: 2;
  }

  .project__code {
    flex-direction: row;
  }
}
